@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply flex flex-col min-h-screen text-[#161614]
}
    
:root{
    /* максимальная ширина контента */
    @apply [--widthContent:1380px]
    /* Растояние от границы брузера по бокам */
    [--widthContentMargin:15px] md:[--widthContentMargin:30px]
}    

/* Настройка кастомных контейнеров */
/* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

.grid-container{        
    grid-template-columns: [full-start] minmax(var(--widthContentMargin), 1fr) [main-start] minmax(0, var(--widthContent)) [main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
    @apply grid
}

.grid-container>*{        
    @apply col-[main]
}    

.wrapper{ 
    @apply mr-auto max-w-[var(--widthContent)]
}

.container{        
    @apply max-w-[var(--widthContent)]
} 

.font-Nunito-Sans {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
}

.tab-toggler.ui-tabs-active {
    @apply bg-[#E4BA69] border-[#E4BA69] text-white
}